{% extends "main.html" %}
{% block midpart %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker({dateFormat: 'yy-mm-dd',changeMonth: true,changeYear: true}).attr( 'readOnly' , 'true' );
});
</script>





<body>



	<!--sitemap-->
	<div class="breadcrumbs" align = "center">
            </div>
            <!-- main content -->
            <div class="maincontent">
                <h3> Project</h3>
                <div class="portlet box blue">
                         <div id="employee-designation-grid" class="breadcrumb">
                                    {% if msg %}
                                     <font color="red"><h3>{{msg}}</h3></font>
                                    {% endif %}

                            <div>
                            {% if task == "add" %}
                                 <form action ="/project/add/" method = "POST" >{% csrf_token %}
                                 
                                 
                                    <div class="fieldWrapper">
                                            <label for="id_client">Client:</label>
                                            <select name ="client">
                                            <option value = "None">No client </option>
                                            <option value = "{{form.client}}" ></option>
                                            </select>
                                    </div>
                                   <div class="fieldWrapper">
                                   {% if form.name.errors %}
                                    {% for error in form.name.errors %}
                                        <li> <h5> {{ error | escape }} </h5> </li>
                                        {% endfor %}
                                        {% endif %}
                                            <label for="id_name">Name:</label>
                                            {{ form.name }}
                                   </div>
                                   <div class="fieldWrapper">
                                            <label for="id_project_status">Project status:</label>
                                            {{ form.project_status }}
                                    </div>
                                    <div class="fieldWrapper">
                                            <label for="id_description">Description:</label>
                                            {{ form.description }}
                                    </div>
                                     <div class="fieldWrapper">
                                            <label for="id_start_date">Start date:</label>
                                            {{ form.start_date }}
                                    </div>
                                    <div class="fieldWrapper">
                                            <label for="id_end_date">End date:</label>
                                            {{ form.end_date }}
                                    </div>
                                     <div class="fieldWrapper">
                                            <label for="id_budget">Budget:</label>
                                            {{ form.budget }}
                                    </div>
                                    <div class="fieldWrapper">
                                            <label for="id_alert">Alert:</label>
                                            {{ form.alert }}
                                    </div>
                                    <div class="fieldWrapper">
                                            <label for="id_project_manager">Project Manager</label>
                                            <select name="project_manager">
                                            <option value = "{{form.project_manager}}"> </option>
                                            </select>
                                    </div>
                          <input type="Submit" class="btnsubmit" value="submit" />
                  <a href="/projects/" style="text-decoration:none;"> <button type="button">Cancel</button></a></p>
                                  </form>
                              {% endif %}
                              
                              </div>
                       </div>
                  </div>
             </div>
</body>
</html>
</div>
{% endblock midpart %}
