{% extends "main.html" %}
{% block midpart %}
<div id="dashcontent">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Add New Designation</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/component.css">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script type="text/javascript"src="http://code.jquery.com/jquery-latest.js"></script>
<!-- <script type="text/javascript" src="js/jquery.peity.min.js"></script> -->
</head>
<body>
	<!--sitemap-->
	<div class="breadcrumbs">
		<a class="home" href="/home/">Home</a>
		<a href="designation.html">Designations</a><a href="newdesg.html">Manage</a><span>Add New</span>
            </div>
            <!-- main content -->
            <div class="maincontent">
                <h1>Add New</h1>                  
                <div class="portlet box blue">
                    <div class="portlet-title"> Client </div>
                         <div id="employee-designation-grid" class="grid-view">
                                    {% if msg %}{{msg}}{% endif %}
                              <div>
                                 <form action ="." method = "POST" encrypte = "multipart/form-data" >{% csrf_token %}
                                            {{ form.as_p }}
                                    <input type="Submit" class="btnsubmit" value="submit" /> 
                                    <a href="/add/"> <button type="button">Cancel </button></a>
                                  </form>
                                    
                              </div>
                       </div>
                  </div>
             </div>
</body>
</html>
</div>
{% endblock midpart %}
