<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/staticcss/component.css">
<link rel="stylesheet" type="text/css" href="/staticcss/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script type="text/javascript"src="http://code.jquery.com/jquery-latest.js"></script>
<!-- <script type="text/javascript" src="js/jquery.peity.min.js"></script> -->
</head>

<body>
	<!-- <div id="container"> -->
	<div class="breadcrumbs">
		<a class="home" href="#">Home</a>
		<span>
			<a  href="#">Dashboard</a>
		</span>
	</div>

	<!-- main content -->
	<div class="maincontent">
		<h1>Dashboard</h1>

		<!--table 1-->
		<div class="tabletopleft">
			<div class="tabletitle">
				<span class="s1">&equiv;</span>New Publish Course 
			</div>
			<table class="table1"  cellspacing="0" cellpadding="0">
					<tr>
						<th>Course Name</th>
						<th>Course Level</th>
						<th>Course Code</th>
						<th>Course Cost</th>
					</tr>
					<tr>
						<td>Data Structures And Algorithms	</td>
						<td>10</td>
						<td>CSE301</td>
						<td>2000</td>
					</tr>
					<tr>
						<td>Web Programming</td>
						<td>10</td>
						<td>CSE154</td>
						<td>1500</td>
					</tr>
					<tr>
						<td>Computer Science Principles</td>
						<td>10</td>
						<td>CSE101</td>
						<td>1000</td>
					</tr>
			</table>	
		</div>

		<!--table 2-->
		<div class="tabletopright"> 
			<div class="tabletitle">
				<span class="s1">&equiv;</span>Latest Enrolled Students
			 </div>
			<table class="table2"  cellspacing="0" cellpadding="0">
					<tr>
						<th>Student Name</th>
						<th>Enroll in Course</th>
						<th>Joining Date</th>
					</tr>
					<tr>
						<td>Stephen	</td>
						<td>Web Programming</td>
						<td>2013-07-01</td>
					</tr>
					<tr>
						<td>Jacob</td>
						<td>Web Programming</td>
						<td>2013-10-07</td>
					</tr>
					<tr>
						<td>Ellen</td>
						<td>Computer Science Principles</td>
						<td>2013-10-06</td>
					</tr>
			</table>
		</div>

		<!--table 3-->
		<div class="tablebottomleft"> 	
				<div class="tabletitle">
					<span class="s1">&equiv;</span>Coursewise Students
				 </div>
				<div  id="piechart">
						<p>Coursewise Students</p>			
				</div>
		</div>

		<!--table 4-->
		<div class="tablebottomright">
			<div class="tabletitle">
				<span class="s1">&equiv;</span>Students Fees History
			</div>
			<div  id="piechart">
					<p>Student Fees Details</p>	
			</div>
		</div>
	</div>
</body>
</html>
