{% extends "main.html" %}
{% block midpart %}
            <!--sitemap-->
            <div class="breadcrumbs",align="center">
            </div>
                <!-- main content -->
                <!-- Work_Type -->
                    <div class="maincontent">
                        <div class="portlet box blue">
                        <div class="breadcrumb"> 
                        
                          <li>
            <a href="/main/" style="text-decoration:none;">Home</a>
        </li>
        <li>
            <a href="/projects-home/" style="text-decoration:none;">Project</a>
        </li>
                         </div>
                        <a class="breadcrumb" href="/employer/add/" style="text-decoration:none;" >Add New Employer</a>
                        <div id="employee-designation-grid" class="breadcrumb">
                                    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                                      {% if emplayrs %}
                                          <thead>
                                           <tr>
                                                <th> Name</th>
                                                <th>Descriptions</th>
                                                <th>Logo</th>
                                                <th>Edit </th>
                                            </tr>
    
                                                   </thead>
                                            {% for e in emplayrs %}
                                                <tr class="{% cycle 'odd' 'even'%}">
                                                    
                                                    <td>{{ e.name }}</td>
                                                    <td>{{ e.description }}</td>
                                                    <td>{{ e.logo }}</td>
                                                    <td><a href="/employer/edit/?id={{e.id}}"><img src="/static/img/edit.jpg"></a> </td>
                                                </tr>
                                          {% endfor %}
                                      {% else %}
                                          <td style="text-align:center;color:blue;text-size:14px;">No People  added Yet...</td>
                                        {% endif %}
                                    </table>
                                    <div class="keys" style="display:none" title="">
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
{% endblock midpart %}

