
{% load i18n %}
<script type="text/javascript" src="/static/js/customjs.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>

<script type="text/javascript">
	    $(document).ready(function(){
			$("#form").validate({
			rules :
			{
			    email : { email : true, required : true,maxlength:60},
			}
		    });

	    });
</script>
<section class="comm_sect">
    <div class="container" style="height:590px">
        <section class="tab_title">
        </section>
        <section class="section5">
            <aside class="widget1">
                <div class="widget1_outer">
                    <div class="select_accountblock bshadow">
                        <h3>{% trans "Password reset" %}</h3>
                        
                        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
                        <form action="" method="post" id="form">{% csrf_token %}
                            <p><label for="id_email">{% trans 'E-mail address:' %}</label>
                            <input id="id_email" maxlength="254" name="email" type="text" style="width:154px;position: absolute;" > 
                            <h3>{{ form.email.errors }}</h3>
                            <input class="submit_btn fl" type="submit" value="{% trans 'Reset my password' %}" /></p>
                        </form>
                  </div>
                </div>
            </aside>
        </section>
    </div>
</section>

