{% extends "main.html" %}
{% block midpart %}


                <!-- main content -->
                <!-- Work_Type -->
                    <div class="maincontent">
                        <div class="portlet box blue">
                          <div class="breadcrumb">
                         
                        
            <a title="Default Work Types" href="/budgets/" style="text-decoration:none;">Default work types</a>&nbsp;&nbsp;&nbsp;|&nbsp;
            <a title="Default Modules" href="/modules-home/" style="text-decoration:none;">Default modules</a>&nbsp;&nbsp;&nbsp;|&nbsp;
            <a title="Default Task Statuses" href="/settings/statuses/" style="text-decoration:none;">Task statuses</a>&nbsp;&nbsp;&nbsp;|&nbsp;
            <a title="Default Task Priorities" href="/settings/task/priorities/" style="text-decoration:none;">Task priorities</a>&nbsp;&nbsp;&nbsp;|&nbsp;
            <a title="Export Data" href="#" style="text-decoration:none;">Export data</a>&nbsp;&nbsp;&nbsp;|&nbsp;
            <a title="Import Data" href="#" style="text-decoration:none;">Import data</a>&nbsp;&nbsp;&nbsp;|&nbsp;
            <a title="Project Categorization" href="/settings/project/categorizations/" style="text-decoration:none;">Project categorization</a>&nbsp;&nbsp;&nbsp;|&nbsp; 
            <a title="Resource Categorization" href="/settings/resource/categorizations/" style="text-decoration:none;">Resource categorization</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
    {% block specialpart %}
</div>
{% endblock specialpart %}

            </div>
    </div>
    
{% endblock midpart %}

