{% extends "milestones/milestone-add.html" %}
{#% block  %#}

<div>
            <div class="form-group has-success has-feedback">
                <div class="controls-label">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<p>
                    <label class="control-label" id="ms-id_available_task" for="id_available_task">Available Task:</label> 
                     {{form.available_task}}
                </div>
            </div>
        </li>
</div>



{#% endblock %#}
