{% extends "main.html" %}
{% block midpart %}

<!-- script for print -->
<script>
function myFunction() {
    window.print();
}
</script>

<script>
$(function() {
    var timer = null, 
        interval = 1000,
        value = 0;

    $("#start").click(function() {
      if (timer !== null) return;
      timer = setInterval(function () {
          $("#input").val(++value);
      }, interval); 
    });

    $("#pause").click(function() {
      clearInterval(timer);
      timer = null
    });
});
</script>
<script>
$( document ).ready(function() {
$('#id_clients').change(function(){
    $('#id_projects option').remove();
    var cid = $(this).val();
    $.ajax({
        type:'GET',
        url:'/gettasks/',
        data:{'cid':cid},
        success:function(data){
            if(data){
                var res = data.res;
                $('<option>',{value:''}).html('All Projects').appendTo('#id_projects');
                for(i=0;i<res.length;i++)
                {
                    $('<option>',{value:res[i].id}).html(res[i].name).appendTo('#id_projects');
                }
            }
        }
    })
    });
});
</script>
<script>
$( document ).ready(function() {
$('#id_projects').change(function(){
    $('#id_milestones option').remove();
    var pid = $(this).val();
    $.ajax({
        type:'GET',
        url:'/getmilestones/',
        data:{'pid':pid},
        success:function(data){
            if(data){
                var res = data.res;
                $('<option>',{value:''}).html('All Milestones').appendTo('#id_milestones');
                for(i=0;i<res.length;i++)
                {
                    $('<option>',{value:res[i].id}).html(res[i].name).appendTo('#id_milestones');
                }
            }
        }
    })
    });
});
</script>


                <!-- main content -->
                <!-- Work_Type -->
                    <div class="maincontent">
                        <div class="portlet box blue">
                          <div class="breadcrumb">
                         <li>
            <a href="/main/" style="text-decoration:none;">Home</a>
        </li>
        <li>
            <a href="/tasks/" style="text-decoration:none;">Task</a>
        </li>
                        
                        </div>
                        <a class="breadcrumb" href="/tasks/add/" style="text-decoration:none;">Add New Task</a>
                        <div id="employee-designation-grid" class="breadcrumb">
                        
                        
                        <h3>{{task|length}} Tasks</h3>
                        
                        
                        
                        <!{% now "f" %} displays time 
                        
                        {% now "a" %} displays am / pm
                        
                        {% now "b" %} displays month
                        
                        {% now "d" %} displays date
                        
                        {% now "" %} displays month year >
                        
                        
                        <!-- html comment -->
                        
                        
                        <p>
                        <input id="" class="check" type="checkbox" onclick="" value="1">
                        <label for="f_summary">Show task summaries</label>
                        <input id="f_summary" class="check" type="checkbox" onclick="task_list_table.update({'f_summary': (this.checked ? '1' : '0')});" value="1">
                        <label for="f_summary">Include closed tasks</label>
                        <input id=" p.id " class="check" type="checkbox" onclick="{{ p.status }}" value="1">
                        <label for="f_summary">Show task widescreen view</label>
                        
                        
                                
        <a title = "Print this Page" href="javascript:window.print()"><img src="/static/img/print-icon.png" height="25" width="25" align="right"></a>
                                
                                
                        
                        
                        </p>
                        
                        <form>
                                
                                <span class="sprites iconsPrintpage"></span>
                                </a>
                                </form>
                        
                        
                        
                        <p>
                        
                        <strong>Filter options:</strong>
                        <form method = "GET" action="/tasks/">
                        <select name="client" id="id_clients">
                        <option value = "0">All Clients</option>
                        {% for p in task %}
                        <option value = "{{p.id}}">{{p.client}}</option>
                        {% endfor %}
                        </select>
                        <select name="projects" id="id_projects">
                        <option value = "">All Projects</option>
                        {% for p in task %}
                        <option value = "{{p.id}}">{{p.project}}</option>
                        {% endfor %}
                        </select>
                        
                        <select name="milestones" id="id_milestones">
                        <option value = "">All Milestones</option>
                        {% for p in task %}
                        <option value = "{{p.id}}">{{p.milestone}}</option>
                        {% endfor %}
                        </select>
                        
                         <select name="modules" id="id_modules">
                        <option value = "None">All Modules</option>
                        {% for m in task %}
                        <option value = "{{m.module}}">{{ m.module }}</option>
                        {% endfor %}
                        </select>
                        
                        <select name = "status" id="id_status">
                        <option value = "None">All Status</option>
                        {% for m in task %}
                        <option value = "{{m.status}}">{{ m.status }}</option>
                        {% endfor %}
                        </select>
                        
                        <select name="priorities" id="id_priorities">
                        <option value = "None">All Priorities</option>
                        {% for m in task %}
                        <option value = "{{m.priority}}">{{ m.priority }}</option>
                        {% endfor %}
                        </select>
                        
                       <select name="owners" id="id_owners">
                        <option value = "None">All Owners</option>
                        {% for m in task %}
                        <option value = "{{ m.owned_by }}">{{ m.owned_by }}</option>
                        {% endfor %}
                        </select>
                        
                        <select name="followers" id="id_followers">
                        <option value = "None">All Followers</option>
                        {% for m in task %}
                        <option value = "{{ m.followed_by }}">{{ m.followed_by }}</option>
                        {% endfor %}
                        </select> 
                                <input type="text" placeholder="search" type="submit" value="{{p.title}}" name="task-title"/>
                                        <input type ="submit" value="Search" >
                        
                        </p>
                        <br>
                        
                        
                                    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive" >
                                      {% if task %}
                                          <thead>
                                                <tr>
                                                <th>#</th>
                                                <th>Title</th>
                                                <th>Project</th>
                                                <th>Assigned</th>
                                                <th>Due Date</th>
                                                <th>Status</th>
                                                <th>Estimated</th>
                                                <th>Actual</th>
                                                <th>Edit</th>
                                                <th>Select</th>
                                                <!--<th>Timer</th>-->
                                                
                                                </tr>
                                                       </thead>
                                            {% for p in task %}
                                                <tr class="{% cycle 'odd' 'even'%}" align = "center">
                                                    <td>{{ p.id }}</td>
                                                    <td><a href="/detail/?id={{p.id}}" style="text-decoration:none;">{{ p.title }}</td></a>
                                                    <td>{{ p.project }}</td>
                                                    <td><a href="/assign/?id={{p.id}}" style="text-decoration:none;">{{ p.assigned_to }}</td></a>
                                                    <td>{{ p.due_date }}</td>
                                                    <td>{{ p.status }}</td>
                                                    <td>{{ p.estimated }}</td>
                                                    <td>{{ p.actual }}</td>
                                                    <td><a href="/edit/{{p.id}}/"><img src="/static/img/edit.gif"></a> </td>
                                                    <td><input type = checkbox f></td>
                                                    <!--<td><input type="number" id="input" />
                                                    <input id="pause" type="button" value="pause"/>
<input id="start" type="button" value="start"/></td>-->
                                                </tr>
                                          {% endfor %}
                                      {% else %}
                                          <td style="text-align:center;color:blue;text-size:14px;">No Task added Yet...</td>
                                        {% endif %}
                                    </table>
                                    
                                    <div class="keys" style="display:none" title="">
                                    <span>3</span><span>2</span><span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>






        </div>
    </div>

{% endblock midpart %}

